$colorBlackBlue: #323038;
$colorOrange: #FCB03F;
$colorSuccess: #51F144;
$colorError: #F14444;
$colorWarning: #F1D544;
$colorInformation: #4493F1;

$borderGrey: 1px solid #d3d3d3;
$borderSuccess: 1px solid #48CC5D;
$borderError: 1px solid #CC4848;
$borderWarning: 1px solid #CCB748;
$borderInformation: 1px solid #4B48CC;

$bgSuccess: #D5ECD8;
$bgError: #ECD5D5;
$bgWarning: #ECE8D5;
$bgInformation: #D5DAEC;

$borderRadiusMessage: 5px;

